<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jerry.silentnight">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- 闪屏 -->
        <activity
            android:name=".ui.activity.SplashActivity"
            android:theme="@style/NoTitleFullScreen">

        </activity>
        <!-- 主界面 -->
        <activity android:name=".ui.activity.MainActivity" />
        <!--天气-->
        <activity android:name=".ui.activity.WeatherActivity"
            android:theme="@style/WindowBackground"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--饮食-->
        <activity android:name=".ui.activity.FoodActivity" />
        <!--健康-->
        <activity android:name=".ui.activity.HealthActivity" />
        <!--旅行-->
        <activity android:name=".ui.activity.TravelActivity" />
        <!--孕育-->
        <activity android:name=".ui.activity.BreedActivity"/>
    </application>

</manifest>